[project]
name = "datav"
version = "0.1.2"
description = "Data visualization tools for Python."
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.9"
authors = [{ name = "Tang Ziya", email = "tcztzy@gmail.com" }]
dependencies = [
    "cartopy>=0.21.1",
    "geopandas>=0.13.2",
    "numba>=0.57.1",
    "spatialpandas>=0.4.8",
]
classifiers = [
    "Framework :: Matplotlib",
    "Natural Language :: Chinese (Simplified)",
    "Intended Audience :: Education",
    "Intended Audience :: Science/Research",
    "License :: Free For Educational Use",
    "License :: OSI Approved :: GNU Lesser General Public License v3 or later (LGPLv3+)",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = [
    "pytest>=7.4.0",
    "pytest-cov>=4.1.0",
]

[tool.pytest.ini_options]
addopts = "--doctest-modules --cov"

[tool.hatch.metadata]
allow-direct-references = true
